aiohttp
requests
pyslack
raven
Django
dj-database-url
whitenoise
sqlparse
python-dateutil
dj-static
mimeparse
django-avatar
django-bootstrap3
django-debug-toolbar
django-extensions
django-extra-views
django-stronghold
gunicorn
honcho
psycopg2
pytz
redis
django-redis
django-tastypie
django-braces